@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.root,
#root
#docs-root {
  --primary-color: #0B193E !important;
  --secondary-color: #6D67E4;
  --secondary-hover: #6d67e49a;
  --gradiant-color: linear-gradient(180deg, #0B193E 0%, #3D4193 51.04%, #6D67E4 100%);
  --black-one-color: #000015;
  --black-two-color: #1D1D1D;
  --black-three-color: #282828;
  --white-color: #EBF6FE;
  --gray-one-color: #333333;
  --gray-two-color: #4f4f4f;
  --gray-three-color: #828282;
  --gray-four-color: #BDBDBD;
  --success-color: #27AE60;
  --info-color:#2F80ED;
  --danger-color: #EB5757;
  --warning-color: #E2B93B;
}
/*Scroll Bar Of Body */
body::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  outline: 1px solid slategrey;
}
/* scroll Bar Of Divs */
.scrollAction::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.scrollAction::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollAction::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  outline: 1px solid slategrey;
}

html {
  scroll-behavior: smooth;
}

body{
  color: var(--primary-color);
}
/* button wave */

@keyframes flagwave {
  0% {
    background-position: -400px 0px, -400px 0px, -400px 0px, -400px 0px;
  }
  100% {
    background-position: 800px 0px, 800px 0px, 800px 0px, 800px 0px;
  }
}
img {
  width: auto; /* Set the width to fill its container */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
}
.flagwave {

  width: 200px;
  height: 120px;
  margin: -220px auto;
  z-index: 2;
  background-image: 
  linear-gradient(
    to right, 
    rgba(235, 235, 235, 0), 
    rgba(235, 235, 235, 0) 40%, 
    rgba(235, 235, 235, 0.3) 90%, 
    rgba(235, 235, 235, 0) 100%
  ),
  linear-gradient(
    to right, 
    rgba(200, 200, 200, 0), 
    rgba(200, 200, 200, 0.3) 25%, 
    rgba(200, 200, 200, 0) 50%, 
    rgba(200, 200, 200, 0.3) 80%, 
    rgba(200, 200, 200, 0) 100%
  );
  background-size: 200% 100%;
  background-position: right;
  animation-name: flagwave;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Container of the page */
.container {
  @apply py-20 px-10 max-md:px-3
}

.specialText > svg {
  background: -webkit-linear-gradient(#3f5def, #9f69d5) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: #7b42d5 !important;
}

.slick-slider {
  width: 100% !important;
}

.slick-list {
  width: 100% !important;
}
.slick-slide div {
  display: flex;
  justify-content: center !important;
  padding: 10px;
}
.slick-slider .slick-arrow {
  color: black !important;
}
.slick-prev::before {
  content: "\F284" !important;
  font-family: "Bootstrap-icons" !important;
  font-size: 20px !important;
  color: black !important;
}
.slick-next::before {
  content: "\F285" !important;
  font-family: "Bootstrap-icons" !important;
  font-size: 20px !important;
  color: black !important;
}
.p-paginator-element {
  color: #000015ce;
  min-width: 2rem;
  height: 2rem;
  padding-left: 4px;
  padding-right: 4px;
}
.p-paginator-element:hover {
  background-color:#2f81ed79;
  color: white;
  
}
.p-highlight {
  background-color:#2f81ed79;
  color: white;

}
/* ===========> Start of SlickArrows <============= */

/* ltr classes */

/* .slick-next-ltr:before{
  font-family: "Bootstrap-icons" !important;
  content: "\F285" !important;
  color: black !important;
  background-color: #000015 !important;
  z-index: 1000;
}
 .slick-prev-ltr:before{
  font-family: "Bootstrap-icons" !important;
  content: "\F284" !important;
  color: black !important;
  background-color: black !important;
  z-index: 1000;
} */
/* rtl classes */


/* .slick-arrow .slick-prev {
  background-color: #2F80ED !important;
} */
/* .slick-arrow {
  color: black !important;
  z-index: 1000 !important;
  background-color: #000015 !important;
} */


/* ===========> End of SlickArrows <============= */

.adminBox {
  @apply flex shadow-[0_4px_14px_0_rgba(0,0,0,0.25)] rounded-[24px] p-[15px] max-md:w-full
}
.adminBoxTitle {
  @apply text-[black-color-one] text-[16px] font-[600] text-start
}
.scrollAction {
  overflow-x: hidden;
  overflow-y: scroll;
}

.smallBtn {
  @apply text-white bg-secondary-color rounded-full py-2 px-5 transition-colors
}
.sideBarLink {
  @apply flex items-center justify-center rounded-[1.5rem] px-[1rem] py-[0.8rem] text-base font-medium text-black hover:text-white hover:bg-secondary-color
}
.sideBarLink.active {
  @apply bg-secondary-color text-white shadow-2xl
}
.navBarLink {
  @apply text-base text-primary-color hover:text-secondary-color rtl:font-semibold hover:underline transition-colors
}
.navBarLink.active {
  @apply text-secondary-color underline text-base rtl:font-semibold
}

.responsiveText {
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.bgWithHover {
  background-color: var(--secondary-color) !important;
}
.bgWithHover:hover {
  background-color: var(--secondary-hover) !important;
}
.recommended {
  background-color: var(--success-color);
  color: white;
  width: 127px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  padding: 8px 11px;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  border-radius: 26px;
  font-weight: bold;
  font-size: 15px;
}


